/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}
.non-bureau-style {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400; /* Archivo Black уже жирный */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* Дополнительные свойства для большего сходства */
    font-stretch: expanded;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}
.container{
	max-width: 1920px;
}
.logo{
  margin-left: 234px;
  margin-top: 42px;
  margin-right: 219px;
  margin-bottom: 92px;
}
.header-text ul{
  display: flex;
  margin-top: 85px;
}
.header-text ul li a{
  font-family: var(--font-family);
font-weight: 300;
font-size: 20px;
color: #414141;
opacity: 0.8;
margin-right: 71px;

}
.header{
  display: flex;
}
.brest-museum h1{
  font-family: var(--font-family);
font-weight: 300;
font-size: 60px;
color: #414141;
margin-left: 312px;
margin-bottom: 35px;
}
.brest-museum img{
  margin-left: 437px;
  width: 1046px;
height: 696px;
margin-bottom: 218px;
}



/* swiper */
 .swiper {
  	border: 1px solid #000;
border: 1px solid #000;
width: 965px;
height: 598px;
background: #fff;

    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      
      justify-content: center;
      align-items: center;
      
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
   element.style {
    
}


.swiper-slide p{
	font-family: var(--font-family);
font-weight: 300;
font-size: 24px;
color: #000;
	
}
.swiper-slide img{
	margin-top: 15px;
	margin-left: 30px;
	margin-bottom: 22px;
	width: 428px;
height: 234px;
}
.swiper-slide{

}
.swiper{
	margin-bottom: 250px;
}
.swiper-text p{
font-family: var(--font-family);
font-weight: 300;
font-size: 60px;
color: #414141;
}
.swiper-text h1{
font-family: var(--font-family);
font-weight: 300;
font-size: 60px;
color: #414141;   
}
.swiper-text img{
  margin-top: 65px;
  margin-bottom: 16px;
  margin-left: 224px;
  border-radius: 50px;
width: 515px;
height: 290px;
}
.swiper-text-1 img{
border-radius: 50px;
width: 509px;
height: 382px;
margin-left: 227px;
margin-bottom: 50px;  
margin-top: 37px;
}
.swiper-text-1 p{
  margin-left: 50px;
font-family: var(--font-family);
font-weight: 300;
font-size: 55px;
color: #414141;
}
.swiper-text-2 img{

  border-radius: 50px;
width: 503px;
height: 329px;
margin-left: 230px;
margin-bottom: 77px;
margin-top: 53px;
}

.swiper-text-2 p{
 font-family: var(--font-family);
font-weight: 300;
font-size: 50px;
color: #414141;

}
.swiper-text-3 img{
  margin-top: 46px;
  border-radius: 50px;
width: 501px;
height: 376px;
margin-left: 232px;
margin-bottom: 43px;
}

.swiper-text-3 p{
 font-family: var(--font-family);
font-weight: 300;
font-size: 40px;
color: #414141;
}

.underlining a{
  text-decoration: underline;
  text-underline-offset: 5px;
}
.swiper-pagination{
	
	font-family: var(--third-family);
font-weight: 400;
font-size: 25px;
color: #000;	
}
 .swiper-text-1 img{
      margin-bottom: 26px;
 }
.swiper-text-2 p{
  margin-top: -20px;
}

.button{
  position: relative
}
.swiper-button-next{
position: absolute;
top: 676px;
right: 890px;	
color: #000;	

}
.swiper-button-prev{
position: absolute;
top: 676px;
left: 890px;
color: #000;
}
.swiper-pagination{
  position: absolute;
	top: 660px;
	font-family: var(--third-family);
font-weight: 400;
font-size: 25px;
color: #000;	
}
.footer{
  background: #d9d9d9;
  height: 200px;
}
