/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}
.non-bureau-style {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400; /* Archivo Black уже жирный */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* Дополнительные свойства для большего сходства */
    font-stretch: expanded;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}
.container{
	max-width: 1920px;
}
.logo{
  margin-left: 234px;
  margin-top: 42px;
  margin-right: 219px;
  margin-bottom: 92px;
}
.header-text ul{
  display: flex;
  margin-top: 85px;
}
.header-text ul li a{
  font-family: var(--font-family);
font-weight: 300;
font-size: 20px;
color: #414141;
opacity: 0.8;
margin-right: 71px;

}
.header{
  display: flex;
}
.grodno-text h1{
font-family: var(--font-family);
font-weight: 300;
font-size: 65px;
color: #414141;
margin-left: 352px;
margin-bottom: 51px;
}
.grodno-text img{
margin-left: 490px;
margin-bottom: 193px;
}
.museum-video h2{
  font-family: var(--third-family);
font-weight: 400;
font-size: 60px;
color: #414141;
margin-left: 232px;
margin-bottom: 127px;
}
.video{
  margin-left: 348px;
}
.footer{
  background: #d9d9d9;
  height: 200px;
} 
.map-1{
  margin-left: 500px;
  margin-bottom: 140px;
 
}
.map-text h2{
  font-family: var(--font-family);
font-weight: 300;
font-size: 60px;
color: #414141;
margin-left: 757px;
margin-top: 130px;
margin-bottom: 50px;
}
.underlining a{
  text-decoration: underline;
  text-underline-offset: 5px;
}
.music h2{
  font-family: var(--font-family);
font-weight: 300;
font-size: 60px;
color: #414141;
margin-top: 100px;
margin-left: 683px;
margin-bottom: 80px;
}
.music audio {
    margin-left: 783px;
}